/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	#name{
 	 font-size: 50px; 
	}

	#description {
	 	 font-size: 30px;
	}

	#talk{
		font-size: 35px;
	}

	#icons i{
	color: white;
	border:1px solid;
	padding: 15 19;
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}

#icons i:hover{
	color: black;
	background-color: white;
	border-color: white !important;
	border:1px solid;
	padding: 15 19;
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;

}


}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
#name{
 	 font-size: 80px; 
	}

	#description{
	 	 font-size: 40px;
	}

	#talk{
		font-size: 45px;
	}

	#icons i{
	color: white;
	border:1px solid;
	padding: 30 34;
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}

#icons i:hover{
	color: black;
	background-color: white;
	border-color: white !important;
	border:1px solid;
	padding: 30 34;
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}


}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

html,body{
	font-family: 'Lato';
	margin: 0px;
	 padding: 0px;
	 border: 0px;

	
}

h2{
	
}

body{
	max-height: 2200px;
}

#wrapper {
	text-align:center; 
	color: #Fff; 
	height: 1000px;
	
}

#floater{
	position:relative; 
	float:left;
	height:35%;
	width: 100%; 
	margin-bottom:-50px;
}

#centered {
	position:relative; clear:left;
	height:1000px;
	margin:0 auto;
}


#name{
	text-shadow: 4px 4px #000;
 	 font-weight: bold;
 	 margin-bottom: 50px;
 	 
}

#description{
	text-shadow: 4px 4px #000;
	 position: relative;
 	 top: -20px;
}

#icons{
	margin-top: 150px;
}



.fa-twitter:hover{
	color: #4099FF !important;
}

.fa-google-plus:hover{
	color: #C63D2D !important;
}

.fa-linkedin:hover{
	color: #4875B4 !important;
}

.fa-stack-overflow:hover{
	color: #f68a1f !important;
}

#wrapper li, #tec li{
	display: inline-block;

}

li.menu-item {
   margin-left: 50px;  
}

#tec ul{
	padding-top: 200px;
	padding-left: 200px;
}

.col-md-2 img{
	-webkit-transition: all .6s ease;

}

.desaturate { 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .6s ease;
}

/* CSS */
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: rgba(0,0,0,0.8);
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* CSS - Slide 2 */
#slide-2 .bcg {
	color:white;
    background-color: #EFEFEF;
    height: 800px;
    text-align: center
}

/* CSS - Slide 3 */
#slide-3 .bcg {
	background-color: #F5F1DE;
	height:700px;

}

#container {
	display: table;
	}

#row  {
	display: table-row;
	}

#left, #right, #middle {
	display: table-cell;
	}

.row1{
	padding-bottom: -35px;
	margin-top: 40px;
	font-family: 'Raleway' !important;
}

.row1 input{
	font-family: 'Raleway' !important;
}

#skills{
	opacity: 0;
}

.footer{
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}

.footer-contactdata{
	text-align: left;
	float: left;
}

.fr{
	float:right;
}

.clear{
	clear:both;
}

.contact{
	width: 400px;
}

.footer-contactdata p{
	margin: 7 0;
}

#talk{
	text-shadow: 2px 2px #666;
	
}

#navigation{
	height: 70px;
	width:100%;
	background-color: #151515;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #FFF;
	font-weight: 500;
	z-index: 10;

}

.navigation-fixed{
	position:fixed;
	top: 0px;
}

#navigation ul{
	height:100%;
}

#navigation a{
	color: rgba(200,200,200,0.8);
	padding: 20 40 20 40;
	position: relative;
	top: 17px;
}

#navigation li{
	height:100%;
	display: inline-block;
	
	border-color: transparent transparent transparent transparent;
	border-style: solid;
	border-width: 6px;

}

#navigation li:hover{
	border-color: #ffffff transparent transparent transparent;
	border-style: solid;
	border-width: 6px;
	color: rgba(255,255,255,0.8) !important;
	text-decoration: none;
}

#navigation li a:hover{
	color: rgba(255,255,255,0.8);
	text-decoration: none;
}



.title{
	font-size: 50px;
	width: 300px;
	margin:0 auto;
	margin-bottom: 40px;
	color: rgba(0,0,0,0.8);
	padding-bottom: 40px;
	border-bottom: 5px solid #c3c3c3;
}

.subtitle{
	color: rgba(0,0,0,0.8);
}

.opacity-zero{
	opacity:0;
}