html,body{
	width:100%;
	height:100%;
  background:#000;
  background-image: url('../img/bg.jpg');
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
  display:block;
  vertical-align:bottom;
}

.wrapper {
  position: absolute;
  top: 40%;
  width: 100%;
}

.socials {
  margin-top: 30px;
}

.socials a {
  color: #fff;
}

.socials i:hover {
  cursor: pointer;
}

.mail {
  margin-top: 20px;
  user-select: none;
}

.mail a {
  font-weight: 100;
  color: #fff;
}

.mail a:hover {
  text-decoration: none;
}

h1 {
  font-weight: 200;
  user-select: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0px) {
  h1.juan-title {
    font-size: 50px;
    line-height: 50px;
    min-height: 50px;
  }

  .socials i {
    font-size: 15px;
  }
}

@media (min-width: 576px) {
  h1.juan-title {
    font-size: 50px;
    line-height: 50px;
    min-height: 50px;
  }

  .socials i {
    font-size: 15px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1.juan-title {
    font-size: 50px;
    line-height: 50px;
    min-height: 50px;
  }

  .socials i {
    font-size: 15px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1.juan-title {
    font-size: 80px;
    line-height: 80px;
    min-height: 80px;
  }

  .socials i {
    font-size: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1.juan-title {
    font-size: 100px;
    line-height: 100px;
    min-height: 100px;
  }

  .socials i {
    font-size: 20px;
  }
}

/* ---- particles.js container ---- */

#particles-js{
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
